<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th class="text-right">Shame Count</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="js-table-row" role="link" data-url="/users/<%= user.id %>">
        <td><a href="users/<%= user.id %>" class="text-dark"><%= user.name %></a></td>
        <td class="text-right"><a href="users/<%= user.id %>" class="text-dark"><%= user.liked_messages.count %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
