<div class="row mb-3">
  <div class="col-md-auto">
    <h1>
      <%= link_to (octicon 'reply', height: 22), root_path, method: :get %>
      <%= @user.name %>
      <small class="text-muted">Shame Count: <%= @user.liked_messages.count %></small>
    </h1>
  </div>
  <div class="col"></div>
  <div class="col-md-auto mt-2">
    <% if current_admin %>
      <button class="btn btn-danger">Delete</button>
    <% end %>
  </div>
</div>

<% @user.liked_messages.order('created_at DESC').each do |msg| %>
  <div class="card mb-4">
    <div class="card-body">
      <blockquote class="mb-0 blockquote">
        <p class="mb-0"><%= msg.content %></p>
        <%= image_tag(msg.image_url, class: 'img-fluid') if msg.image_url %>
        <footer class="blockquote-footer"><%= msg.created_at.in_time_zone("EST").to_formatted_s(:long) %> in <%= msg.group.name %></footer>
      </blockquote>
    </div>
  </div>
<% end %>
