<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
  <div class="container">
    <%= link_to 'Humilamotron', root_path, class: 'navbar-brand', method: :get %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav">
        <% if current_admin %>
          <li class="nav-item">
            <%= link_to 'Manage', '/manage', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Upload File', '/upload', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_admin_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="https://github.com/lnestor/humilamotron">
            <%= image_tag('github-logo.png', size: '104x30') %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
